discord.py==2.4.0
discord-ext-voice-recv==0.4.2a145
python-dotenv==1.0.1
numpy<2
torch==2.5.1 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.20.1 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu124
gradio==3.34.0
apscheduler==3.10.4
websockets==13.1
asyncio==3.4.3
Flask==3.1.0
flask-socketio==5.4.1
flask-cors==5.0.0
requests==2.32.3
pyyaml==6.0.2
jaison-grpc==1.1.4
grpcio==1.68.1
scipy==1.15.1
wave==0.0.2
transformers==4.48.0
